*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Cambio de Escenas */

.scene{
    display: none;
}

.scene.active{
    display: flex;
    animation: cambioescena 1s ease-in-out;
}

@keyframes cambioescena {
    from { opacity: 0.05; }
    to { opacity: 1; }
}

/* Variables de la Web */

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&family=Lora:wght@400;700&display=swap');

:root {
  /* --- Paleta de Colores --- */
  --color-fondo-principal: #D1B48C;
  --color-fondo-secundario: #5A4224;
  --color-acento-boton: #D9C934;
  --color-acento-boton-hover: #b5a413;
  --color-texto-primario: #2B1D0E;
  --color-texto-secundario: #E9E2E2;

  /* --- Tipografías --- */
  --fuente-web: 'Cinzel Decorative', cursive;
  --fuente-cuerpo: 'Lora', serif;
}

body{
    font-family: var(--fuente-web);
    color: var(--color-texto-primario);
}

/* Primera Escena */

.estadisticas .menu1{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-fondo-principal);
}

.estadisticas .menu1 h1{
    margin: 12px;
    font-family: var(--fuente-web);
}

.estadisticas .menu1 img{
    width: 15vw;
}

.estadisticas .stats-p{
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color: var(--color-fondo-secundario);
}

.estadisticas .stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    text-align: center;
    width: 50%;
}

.estadisticas .stats .caja{
    background-color: var(--color-fondo-principal);
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.estadisticas .boton{
    background-color: var(--color-fondo-secundario);
    text-align: center;
}

.estadisticas{
    flex-direction: column;
    height: 100vh;
}

.boton{
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 24px;
}

.boton button{
    padding: 8px;
    border-radius: 8px;
    background-color: var(--color-acento-boton);
    font-weight: bold;
    font-family: var(--fuente-web);
    cursor: pointer;
}

.boton button:hover{
    background-color: var(--color-acento-boton-hover);
}

/* Segunda Escena - Mercado */

.mercado .menu2{
    background-color: var(--color-fondo-principal);
    padding: 8px;
    padding-bottom: 24px;
}

.mercado .articulos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    background-color: var(--color-fondo-secundario);
    padding: 20px;
    text-align: center;
    height: 60vh;
    overflow-y: auto;
}

.mercado .articulos .caja2{
    background-color: var(--color-texto-secundario);
    border-radius: 24px;
    padding: 14px;
    text-align: center;
    border: 2px solid var(--color-texto-primario);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.mercado .articulos .caja2 img{
    width: 28vh;
}

.mercado .boton{
    background-color: var(--color-fondo-principal);
}

.mercado .articulos .caja2 button{
    padding: 8px;
    border-radius: 8px;
    background-color: var(--color-acento-boton);
    font-weight: bold;
    font-family: var(--fuente-web);
    cursor: pointer;
}

.mercado .articulos .caja2 button:hover{
    background-color: var(--color-acento-boton-hover);
}

.mercado{
    flex-direction: column;
    height: 100vh;
}

/* Articulos comprados */

.compras-p{
    background-color: var(--color-texto-secundario);
    display: flex;
    justify-content: center;
    padding: 12px;
}

.compras-p .compras{
    display: flex;
    justify-content: center;
    background-color: var(--color-fondo-secundario);
    gap: 12px;
    padding: 8px;
    flex-wrap: wrap;
    max-width: 700px;
}

.compras-p .compras .obj{
    width: 80px;
    height: 80px;
    background-color: var(--color-fondo-principal);
}

/* Cuarta escena - Enemigos */

.enemigos{
    flex-direction: column;
    height: 100vh;
}

.enemigos .menu3{
    background-color: var(--color-fondo-principal);
    padding: 8px;
    padding-bottom: 24px;
}

.enemigos .list-e{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    background-color: var(--color-fondo-secundario);
    padding: 20px;
    text-align: center;
    height: 80vh;
    overflow-y: auto;
}

.enemigos .list-e .caja3{
    background-color: var(--color-texto-secundario);
    border-radius: 24px;
    padding: 14px;
    text-align: center;
    border: 2px solid var(--color-texto-primario);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.enemigos .list-e .caja3 img{
    width: 28vh;
}

.enemigos .boton{
    background-color: var(--color-fondo-principal);
}

/* Quinta escena - Combates */

.batallas{
    flex-direction: column;
    height: 100vh;
}

.batallas .menu4{
    background-color: var(--color-fondo-principal);
    padding: 8px;
    padding-bottom: 24px;
}

.batallas .boton{
    background-color: var(--color-fondo-secundario);
}

.batallas .combate img{
    width: 20vw;
}

.batallas .combate{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo-secundario);
}

.batallas .respuesta{
    background-color: var(--color-fondo-secundario);
    color: var(--color-texto-secundario);
    text-align: center;
}

/* Escena Final */

.final{
    flex-direction: column;
    height: 100vh;
}

.final .menu5{
    background-color: var(--color-fondo-principal);
    padding: 8px;
    padding-bottom: 24px;
}

.final .boton{
    background-color: var(--color-fondo-secundario);
}

/* Restructuracion de imagenes */

@media (max-width: 800px) {
    .estadisticas .menu1 img{
        width: 30vw;
    }

    .batallas .combate img{
        width: 40vw;
    }

    .enemigos .list-e{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .compras-p .compras .obj{
        width: 40px;
        height: 40px;
        background-color: var(--color-fondo-principal);
    }
}